<div class="row">
    <div class="toast red">
        <div [hidden]="!error" role="alert">
            <span aria-hidden="true">
                <i class="material-icons">warning</i>
            </span>
            <span class="sr-only">Erreur:</span>
        </div>
    </div>
    <div class="card-panel">
        <div class="card-panel title">
            <span>Demandes I-Milo</span>
        </div>
    </div>
    <table class="highlight centered">
        <thead>
            <tr>
                <th>Date de réception</th>
                <th>Demandeur</th>
                <th>Thème</th>
                <th>Priorité</th>
                <th>Date d'échéance</th>
                <th>Public concerné</th>
                <th>Objectif</th>
                <th>Diffusion</th>
                <th>Réponse</th>
                <th>Traité par</th>
                <th>Etat</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
