<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <div class="nav-wrapper blue lighten-4">
        <div class="row">
            <div class="col s2">
                <img class="responsive-img" id="logo" alt="MLJ Grand Narbonne Logo" src="../assets/images/mlj.png">
                <a href="/" class="brand-logo">{{title}}</a>
            </div>
            <div class="col s4">
                <form class="search-input">
                    <div class="input-field">
                        <i class="prefix material-icons">search</i>
                        <input id="search" type="search" placeholder="Rechercher">
                        <label class="label-icon" for="search"></label>
                        <i id="close" class="material-icons">close</i>
                    </div>
                </form>
            </div>
            <div class="col s1">
                <button id="btn_search" class="btn waves-effect waves-light center" type="submit">OK</button>
            </div>
            <div class="col s5">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="#">Documents importants</a>
                    </li>
                    <li>
                        <a href="#">Informations</a>
                    </li>
                    <li *ngIf="!hasAuthToken()"><a [routerLink]="['login']">Se connecter</a></li>
                    <li *ngIf="hasAuthToken()"><a (click)="logout()" href="#"></a></li>
                    <li>
                        <a href="#"><i class="right medium material-icons">view_module</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
